<footer class="py-5">
  <div class="container">
    <div class="head text-center py-4">
      <h2 class="h1 fw-bolder text-white"><span>Logo</span></h2>
    </div>
    <div class="form text-center">
      <h5 class=" fs-2 text-color mb-5">Subscribe to get our Newsletter</h5>
      <form class=" w-50 mx-auto d-flex justify-content-evenly" action="">
        <div class="form-group w-50">
          <input type="text" class="form-control rounded-pill p-2 px-4" placeholder="Your E-mail">
        </div>
        <button class="btn px-5 rounded-pill">Subscribe</button>
      </form>
    </div>
    <div class="text-center pt-4">
      <p class="text-color">© 2024  Class Technologies Inc.</p>
    </div>
  </div>
</footer>