<section class="hero bg-main overflow-hidden ">
  <div class="container py-5 h-100">
    <div class="row align-items-center justify-content-between  h-100">
      <div class="col-xl-5  ">
        <h1 class="text-white fw-bolder"><span class="custom-color">Studying</span> Online is now <br> much easier </h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, labore eos. Natus esse et sed.</p>
        <div class="row  w-100 align-items-center">
          <div class="col-md-4">
            <button class="btn  signup rounded-pill text-white fw-medium px-4">Join For Free</button>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-evenly">
            <div class="play p-1 d-flex justify-content-center align-items-center rounded-circle">
              <i class="fa-solid fa-play"></i>
            </div>
            <p class="m-0">Watch How It Works</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 position-relative">
        <div class="over">
          <div class="calaendr shadow position-absolute p-3  rounded-3 d-flex  align-items-center">
            <i class="fa-regular fa-calendar-days fs-1 rounded-3 "></i>
            <div>
              <p class="mb-1 fw-bold">250 K</p>
              <p class="m-0 fw-medium">Assisted Student</p>
            </div>
          </div>
          <div class="elipse shadow p-3 d-flex justify-content-evenly  rounded-3 shadow">
              <div class="img">
                <img src="assets/images/Ellipse.png" alt="">
              </div>
              <div class="content">
                <p class="m-0 mb-1 fw-bolder">User Experience Class</p>
                <p class="m-0 mb-1 fw-medium">Today at 12.00 PM</p>
                <button class="btn rounded-pill text-white fw-bold px-4">Join Now</button>
              </div>
          </div>
          <div class="cong p-3 d-flex rounded-3 shadow justify-content-evenly align-items-center">
            <div class="icon p-2 rounded-3">
              <i class="fa-solid fa-envelope fs-2"></i>
            </div>
            <div class="content">
              <p class="m-0 fw-bolder">Congratulation</p>
              <p class="m-0 ">Your admission completed</p>
            </div>
          </div>
        </div>
        <img class="heroImg" width="450"  src="assets/images/hero.png" alt="">
      </div>
    </div>
  </div>
</section>