<section class="py-5">
  <div class="container pt-5">
    <div class="head w-50 mx-auto text-center">
      <h2>What Is <span>Logo ?</span></h2>
      <p>
        Logo is a platform that allows educators to create online classes whereby they can store the course materials online;
        manage assignments, quizzes and exams; monitor due dates; grade results and provide students with feedback all in one
        place.
      </p>
    </div>
    <div class="content">
      <div class="row justify-content-between py-5">
        <div class="col-md-5">
          <div class="img position-relative">
            <div class="overlay start-0 flex-column align-items-center end-0 w-100 bg-opacity-25 d-flex justify-content-center  rounded-5 h-100 position-absolute bg-black">
              <h4 class="text-white">For INSTRUCTOR</h4>
              <button class="btn btn-outline-light">Start a Class Today</button>
            </div>  
            <img class="w-100" src="assets/images/what1.png" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div class="img position-relative">
            <div class="overlay start-0 flex-column align-items-center end-0 w-100 bg-opacity-25 d-flex justify-content-center  rounded-5 h-100 position-absolute bg-black">
              <h4 class="text-white">For INSTRUCTOR</h4>
              <button class="btn btn-outline-light">Start a Class Today</button>
            </div>  
            <img class="w-100" src="assets/images/what2.png" alt="">
          </div>
        </div>
      </div>
      <div class="row pt-5 justify-content-between">
        <div class="col-md-5">
          <div class="head position-relative">
            <div class="circle bg-circle"></div>
            <h2 class="position-relative" >
              Everything you can do in a physical classroom, <span>you can do with Logo</span>
            </h2>
          </div>
          <p class="lead py-3">
            Logo school management software helps traditional and online schools manage scheduling, attendance, payments and
            virtual classrooms all in one secure cloud-based system.
          </p>
          <button class="btn bg-main rounded-pill px-4 fw-bolder text-white">Learn More</button>
        </div>
        <div class="col-md-4 position-relative">
          <div class=" circle-img1 rounded-4 shadow"></div>
          <img class="position-relative w-100 z-2" src="assets/images/what3.png" alt="">
          <div class=" circle-img2 rounded-4 shadow"></div>
        </div>
      </div>
    </div>
  </div>
</section>