<section class="py-5">
  <div class="container pt-5 px-0">
    <div class="head w-50 mx-auto text-center">
      <h2 class="fw-bolder">Our Success</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque quasi blanditiis laudantium dolor deleniti.</p>
    </div>
    <div class="content row g-5  pt-5 ">
      <div class="success col-md-3 text-center">
        <span class="linear">15K+</span>
        <p class="m-0 fw-medium">Student</p>
      </div>
      <div class="success col-md-3 text-center">
        <span class="linear">75%</span>
        <p class="m-0 fw-medium">Total Success</p>
      </div>
      <div class="success col-md-3 text-center">
        <span class="linear">35</span>
        <p class="m-0 fw-medium">Main Question</p>
      </div>
      <div class="success col-md-3 text-center">
        <span class="linear">26</span>
        <p class="m-0 fw-medium">Chief experts</p>
      </div>
    </div>
  </div>
</section>