<section class="py-5">
  <div class="container pt-5">
    <div class="head w-50 mx-auto text-center">
      <h2 class="mb-3">All-In-One <span>Cloud Software</span></h2>
      <p >Logo is one powerful online software suite that combines all the tools needed to run a successful school or office.</p>
    </div>
    <div class="content pt-5">
      <div class="row pt-5 g-5">
        <div class="myCard col-xl-4 col-lg-4 col-md-6  text-center position-relative">
          <div class="icon paper">
            <i class="fa-regular fa-newspaper"></i>
          </div>
          <div class=" h-100 px-3 pt-5 bg-white d-flex flex-column justify-content-center rounded-3 shadow">
            <h3 class="mb-4">Online Billing,<br> Invoicing, & Contracts</h3>
            <p class="lead ">
              Simple and secure control of your organization’s financial and legal transactions. Send customized invoices and
              contracts
            </p>
          </div>
        </div>
        <div class="myCard col-xl-4 col-lg-4 col-md-6  text-center position-relative">
          <div class="icon calander">
            <i class="fa-regular fa-calendar-days "></i>
          </div>
          <div class=" h-100 px-3 pt-5 bg-white d-flex flex-column justify-content-center rounded-3 shadow">
            <h3 class="mb-4">Online Billing,<br> Invoicing, & Contracts</h3>
            <p class="lead ">
              Simple and secure control of your organization’s financial and legal transactions. Send customized invoices and
              contracts
            </p>
          </div>
        </div>
        <div class="myCard col-xl-4 col-lg-4 col-md-6  text-center position-relative">
          <div class="icon users">
            <i class="fa-solid fa-users"></i>
          </div>
          <div class=" h-100 px-3 pt-5 bg-white d-flex flex-column justify-content-center rounded-3 shadow">
            <h3 class="mb-4">Online Billing,<br> Invoicing, & Contracts</h3>
            <p class="lead ">
              Simple and secure control of your organization’s financial and legal transactions. Send customized invoices and
              contracts
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>