<section class="py-5">
  <div class="container pt-5">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
          <img class="w-100" src="assets/images/tools.png" alt="">
        </div>
        
        <div class="col-md-4">
          <div class="head py-4">
            <h2><span>Tools</span> For Teachers And Learners</h2>
          </div>
          <p class="lead">
            Class has a dynamic set of teaching tools built to be deployed and used during class.
            Teachers can handout assignments in real-time for students to complete and submit.
          </p>
        </div>
      
      </div>
  </div>
</section>
<section class="py-5">
  <div class="container pt-5">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
          <div class="head py-4">
            <h2><span>Class Management</span> Tools for Educators</h2>
          </div>
          <p class="lead">
            Class provides tools to help run and manage the class such as Class Roster, Attendance, and more. With the Gradebook,
            teachers can review and grade tests and quizzes in real-time.
          </p>
        </div>
        <div class="col-md-6">
          <img class="w-100" src="assets/images/management.png" alt="">
        </div>
      </div>
  </div>
</section>
